/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 19/04/2010
Version: 1.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
             Daniel Araujo - http://www.dnlaraujo.com.br
			 Marcello Manso - http://www.marcellomanso.com.br
			 
********************************************************************
Style
********************************************************************/



/* Form Style */
.form {font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;}

.form fieldset {
	border: 1px solid #999;
	border-top:3px solid #efefef;
	border-bottom: 1px solid #ccc;
	background:#efefef;
	padding-bottom: 1.2em;
	margin: 0 0 6em;
}

/* hover effect */


/* Form legend and titles */
.form legend {
	font-size:1.7em;
	padding: 10px 10px 15px;
	margin-bottom: 10px;
	background:#efefef;
	margin-left:1.04%;
	color:#000;
	line-height: 1em;
}

/* form elements  */
.form-lbl {
	font-size:1em;
	font-weight: bolder;
}
.form-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.4em;
}
.form .form-txt, .form textarea, .form select {
	border-color:#cebe60;
	background: #fbfbfb;
	color:#484848;
	font: normal 12px/1em "Trebuchet MS",arial, Verdana, Helvetica, sans-serif;
}
.form .form-txt:hover, .form textarea:hover, .form select:hover {
	border-color:#beaf59;
	background: #fafafa;
	color:#484848;
}
.form .form-txt:focus, .form textarea:focus, .form select:focus {
	border-color:#beaf59;
	background: #fffef4;
	color:#484848;
}


/* form msg status  */
.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success {
	padding-left: 27px;
	font-size:0.9em;
	border-bottom: 1px solid #ccc;
}
.form-msg-info {
	background: #d1ecf7 url(../img/form-ic-info.png) no-repeat 5px 4px;
	border-color:#bcdfef;
	color:#11689e;
}
.form-msg-warning {
	background: #fff6bf url(../img/form-ic-warning.png) no-repeat 5px 4px;
	border-color:#fceb77;
	color:#957210;
}
.form-msg-error {
	background: #fad0d0 url(../img/form-ic-error.png) no-repeat 5px 4px;
	border-color:#f6abab;
	color:#b01717;
}
.form-msg-success {
	background: #e5f8ce url(../img/form-ic-success.png) no-repeat 5px 4px;
	border-color:#d0f1a6;
	color:#62b548;
}


/* form buttons */
.form-button {
	font-size:1.2em;
	background:#235485;
	color:#fff;
}
.form-button:hover {background:#666;}


